<h2>patient name:</h2>
<h1><%= @patient.name %></h1>
<p><%= @patient.email %></p>
<br>
<br>
<h4> Related All Physicians names: </h4>
<h5><% @patient.physicians.each do |t|%>
    <%= t.name %>
<%end%></h5>
